@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

body {
    background-color: #72AD96;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 7%;
}

header {
    text-align: center;
    color: #2C7A5B;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: .5rem .5rem 1rem #2C7A5B;
    background-color: #FFFFFF;
    padding: 1rem 1rem;
    width: 80vw;
    margin: 0 auto;
}

@media screen and (min-width: 812px) {
    form {
        width: 60vw;
        padding: 3rem 0;
    }
}

input {
    border: 1px solid #2C7A5B;
    padding: 1rem;
    border-radius: 10px;
}
input[type="button"] {
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
    color: #000 !important;
    font-size: .875rem;
}
.botao {
    background-color: #2C7A5B;
    cursor: pointer;
}

.botaoLimpar {
    background-color: #72AD96;
    cursor: pointer;
}

span {
    background-color: #72AD96;
    padding: .5rem;
}